<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reconinstruments.reconsdkapplication"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

         <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        
        <activity
            android:name=".ReconSDKApplicationActivity"
            android:label="@string/app_name" >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".FullUpdate"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".JumpHistory"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
         <activity
            android:name=".TemperatureView">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
         <activity
            android:name=".AltitudeView">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
            
        
        <activity
            android:name=".DistanceView">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        <activity
            android:name=".VerticalView">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        
       <activity
            android:name=".SpeedTimeView"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
       <activity
            android:name=".RunHistory"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            
            <intent-filter>
               <action android:name="android.intent.action.VIEW" />
               <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        <activity android:name=".TaskView"/>

    </application>

</manifest>
